{% load static %}
<div id="hero-area" class="hero-area-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
          <div class="contents">
            <h2 class="head-title">Com os estudos da <br>Fusion Éoq</h2>
            <p>Voce irá para Disney, fazemos Elo Trabs fonnnn</p>
            <div class="header-button">
              <a href="#" class="btn btn-common">Baixar Agora</i></a>
              <a href="#" class="btn btn-border video-popup">Saber Mais</i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <div class="intro-img">
            <img class="img-fluid" src="{% static 'img/intro-mobile.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
</div>